# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: arafatm
description: >- # this means to ignore newlines until "baseurl:"
  arafatm
baseurl: "" # the subpath of your site, e.g. /blog
url: "http://arafatm.github.io" # the base hostname & protocol for your site, e.g. http://example.com
github_username:  arafatm

# Build settings
markdown: kramdown
highlighter: rouge
input: GFM
kramdown:
  toc_levels: 1..5
plugins:
  - jekyll-feed
  - jemoji

defaults:
  - scope:
      path: "" # an empty string here means all files in the project
    values:
      layout: page
  - scope:
      path: "assets/img"
    values:
      image: true

collections:
  articles:
    output: true
    permalink: /:categories/:name

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
exclude:
  - Gemfile
  - Gemfile.lock
  - node_modules
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/

# theme: jekyll-theme-hacker
#theme: minima