<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
{% seo %}
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="{{ '/assets/css/rouge.monokai.css?v=' | append: site.github.build_revision | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
{% comment %} TODO: Add this back in <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision }}"> {% endcomment %}
<link rel="stylesheet" href="{{ '/style.css?v=' | append: site.github.build_revision | relative_url }}">
