<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
{% seo %}
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
       extensions: ["tex2jax.js"], 
       jax: ["input/TeX", "output/HTML-CSS"], 
       tex2jax: {
         inlineMath: [ ['$','$'], ["\\(","\\)"] ], 
         displayMath: [ ['$$','$$'], ["\\[","\\]"] ], 
         processEscapes: true }, 
         "HTML-CSS": { availableFonts: ["TeX"] 
       }
     });
</script>
<script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML"></script>
<link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
{% comment %} TODO: Add this back in <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision }}"> {% endcomment %}
<link rel="stylesheet" href="{{ '/style.css?v=' | append: site.github.build_revision | relative_url }}">
