html { background-color: darkgrey; }
header {}
body { font: 14px sans-serif; max-width: 60em; background-color: white; margin: 0em auto; padding: 0 1ex; border: 2px solid black; }
footer { display: flex; justify-content: space-between; margin: 1em; padding: 1ex 5ex; text-align: center;}
footer span.home { text-align: left; margin-left: 2em; padding: 1ex 2em; border: 1px solid black; }
footer span.github { text-align: right; margin-right: 2em; padding: 1ex 2em; border: 1px solid black; }

nav { background-color: maroon; overflow: hidden; }
nav>ul { list-style: none; margin: 0; padding: 0; display: flex; }
nav>ul li { margin-right: 1em; }
nav>ul li:last-child { margin-right: 0; /* Remove margin from last item */ }
nav>ul a { text-decoration: none; color: white; font-weight: bold; }

nav.toc { background-color: #333; }
nav.toc>ul { list-style: none; margin: 1em; padding: 0; display: flex; }
nav.toc>ul>li { position: relative; padding: 1ex; border: 1px solid white; margin: 0; }
nav.toc>ul>li>ul  { display: none; }
nav.toc>ul>li:hover>ul { display: block; margin: 1ex 0 0 1ex; padding: 0; /* Show submenu on hover */ }
nav.toc>ul>li>ul>li  { border-top: 1px solid white; padding: 1ex 0; margin: 0;}
/*
nav.toc>ul>li>ul>li { display: none; position: absolute; top: 100%; left: 0; background-color: #444; padding: 10px; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); z-index: 1; }
nav.toc>ul>li>ul>li li { margin: 0; padding: 5px 0; }
nav.toc ul a { text-decoration: none; color: white; font-weight: bold; }
.submenu a { color: white; }
*/

h1 { text-transform: uppercase; color: black; display: flex; align-items: center; }
h2 { text-transform: capitalize; display: flex; align-items: center; padding-top: 1ex; border-top: 0.1em solid black; }
h3 { text-transform: capitalize; border-top: 0.02em solid black; padding-top: 1ex;}

h1::after  { content: ''; flex: 1; margin-left: 1ex; height: 0.1em; background-color: #000; }
h1::before { content: ''; flex: 1; margin-right: 1ex; height: 0.1em; background-color: #000; }
h2::after  { content: ''; flex: 1; margin-left: 1em; height: 0.1em; background-color: #000; }
h2::before { content: '##'; padding-right: 1ex; }
h3::before { content: '###'; padding-right: 1ex;} 
h4::before { content: '####'; padding-right: 1ex;}
h5::before { content: '#####'; padding-right: 1ex;}
h6::before { content: '######'; padding-right: 1ex;}

a {text-decoration: none; color: purple; }
img { margin: 0; padding: 1ex; max-height: 20em; max-width: 100%; }
li { line-height: 1.4; }
p { margin: 1em;}
pre { padding: 1em; }
table { border-collapse: collapse; }
td { border: 1px solid black; padding: 1ex; vertical-align: top;  }
ul { margin: 1em; padding: 0 1em;}

div>code,  li>code, p>code { background-color: black; color: lavender; padding: 0.2ex 2ex; border-radius: 1ex; }

blockquote { border-left: 1ex solid maroon; margin: 1ex; padding: 1ex 1ex; background-color: lavender; font-size: 1.3em; }
section { padding: 1ex 0 1em 0; border-bottom: 1px solid black;}
section.header { margin-bottom: 1em; padding: 1ex; border: 1px solid black; border-radius: 1em;}

del {}
em { color: green; font-style: normal; }
strong { color: maroon; font-weight: 900; }

a > img {border: 2px solid blue;}
blockquote p { margin: 0; padding: 0;}
h1 + ul > li { display: inline; padding: 0 1em; }
h1 + ul { display: inline; padding: 0; }

img.emoji, img.ico { width: 1.2em; height: 1.2em; padding: 0; }
input.task-list-item-checkbox { margin-right: 1ex}

@media (min-width:800px) { p > img:active, details > img:active {
    background-color: rgba(0,0,0,0.85); margin: 0; padding: 0; z-index: 999;
    top: 0; right: 0; bottom: 0; left: 0; height: 100%; width: 100%; max-height:
    100%; max-width: 100%; object-fit: contain; position: fixed; 
}}

/*
@media (max-width: 1200px) { img { width: 32%; } }
@media (max-width: 800px) { img { width: 48%; } }
@media (max-width: 500px) { img { width: 100%; } }
*/
