/* Test liquid "{{ site.baseurl }}" */

/*
@include "https://cdn.jsdelivr.net/npm/modern-normalize@2.0.0/modern-normalize.min.css";
@import "https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css"
@import 'https://cdn.simplecss.org/simple.css';
@include '/rouge.monokai.css';
*/

html { background-color: darkgrey; }
body { font: 16px/20px sans-serif; width: 60em; max-width: 1530px; background-color: white; margin: 0em auto; padding: 0.5em; border: 2px solid black; }

h1::before { content: "# " } h1 { text-transform: uppercase; color: red; }
h2::before { content: "## " } 
h2 { text-transform: capitalize; display: flex; align-items: center; }
h2::after { content: ''; flex: 1; margin-left: 1rem; height: 0.1em; background-color: #000; }
h3::before { content: "### " } h3 { text-transform: capitalize; }
h4::before { content: "#### " }
h5::before { content: "##### " }
h6::before { content: "###### " }

h1 + ul { display: inline; padding: 0; }
h1 + ul > li { display: inline; padding: 0 1em; }

a > img {border: 2px solid blue;}
img { margin: 0; padding: 1px; width: 24%; border: 1px solid black }
img.emoji { width: 3.5em; height: 3.5em; border: 1px solid gray; border-radius: 1em; padding: 0.4em; background-color: salmon; }
img.emoji {}

@media (max-width: 1200px) { img { width: 32%; } }
@media (max-width: 800px) { img { width: 48%; } }
@media (max-width: 500px) { img { width: 100%; } }
@media (min-width:800px) { p > img:active, details > img:active { position: fixed; top: 0; left: 0; bottom: 0; right: 0; z-index: 999; object-fit: contain; width: 100%; height: 100%; margin: 0; padding: 0; background-color: darkgrey; } }

