html { background-color: darkgrey; }
header {}
body { font: 14px sans-serif; max-width: 60em; background-color: white; margin: 0em auto; padding: 0 2em; border: 2px solid black; }
footer { margin: 1em; padding: 1ex 5ex; border: 0.1ex solid black; text-align: center;}

h1 { text-transform: uppercase; color: black; display: flex; align-items: center; }
h2 { text-transform: capitalize; display: flex; align-items: center; }
h3 { text-transform: capitalize; border-top: 0.02em solid black; padding-top: 1ex;}

h1::after  { content: ''; flex: 1; margin-left: 1ex; height: 0.1em; background-color: #000; }
h1::before { content: ''; flex: 1; margin-right: 1ex; height: 0.1em; background-color: #000; }
h2::after  { content: ''; flex: 1; margin-left: 1em; height: 0.1em; background-color: #000; }
h2::before { content: '##'; padding-right: 1ex; }
h3::before { content: '###'; padding-right: 1ex;} 
h4::before { content: '####'; padding-right: 1ex;}
h5::before { content: '#####'; padding-right: 1ex;}
h6::before { content: '######'; padding-right: 1ex;}

a {text-decoration: underline; color: purple; }
img { margin: 0; padding: 1ex; max-height: 20em; max-width: 100%; }
p { margin: 1em;}
pre { padding: 1em; }
ul { margin: 1em; padding: 0 1em;}
li { line-height: 1.4; }ht: 1.4; }
tr { border-top: 1px solid black; }

li code, p code,  { background-color: lavender; padding: 0.1ex 2ex; border-radius: 1ex; }
blockquote { border-left: 1ex solid maroon; margin: 0; padding: 1ex 1ex; background-color: lavender; font-size: 1.3em; }

del {}
em { color: green; font-style: normal; }
strong { color: maroon; font-weight: 900; }

a > img {border: 2px solid blue;}
blockquote p { margin: 0; padding: 0;}
h1 + ul > li { display: inline; padding: 0 1em; }
h1 + ul { display: inline; padding: 0; }

img.emoji, img.ico { width: 1.2em; height: 1.2em; padding: 0; }
input.task-list-item-checkbox { margin-right: 1ex}

/*
@media (max-width: 1200px) { img { width: 32%; } }
@media (max-width: 800px) { img { width: 48%; } }
@media (max-width: 500px) { img { width: 100%; } }
@media (min-width:800px) { p > img:active, details > img:active { position: fixed; top: 0; left: 0; bottom: 0; right: 0; z-index: 999; object-fit: contain; width: 100%; height: 100%; margin: 0; padding: 0; background-color: darkgrey; } }
*/
